---
import event from '../data/event.json';
---
{event.hasEvent ? (
  <>
    <button onclick="document.getElementById('event').showModal()" class="default meet-button">
      📅 Upcoming Meeting {event.startsAtShort}
    </button>
    <dialog id="event">
      <header><h1>{event.name}</h1></header>
      {event.description && <p>{event.description}</p>}
      <p><b>{event.startsAtDisplay}</b> (<a href={event.link} target="_blank">Save the date</a>)</p>
      {event.location && <p>{event.location}</p>}
      <footer>
        <form method="dialog">
          <a class="default" href={event.link} type="button">Save the date</a>
          <button type="submit">Close</button>
        </form>
      </footer>
    </dialog>
  </>
) : (
  <>
    <button onclick="document.getElementById('event').showModal()" class="default meet-button">
      📅 No upcoming events
    </button>
    <dialog id="event">
      <header><h1>No Upcoming Events</h1></header>
      <p>There are currently no scheduled events. Please check back later or join our <a href="https://discord.gg/6a5Sv2s9bG" target="_blank">Discord</a> for updates.</p>
      <footer>
        <form method="dialog">
          <button type="submit">Close</button>
        </form>
      </footer>
    </dialog>
  </>
)}
